.blog-description {
    margin: 8px 0;
    line-height: 1.6;
}

.blog-entry {
    position: relative;
    padding: var(--gap);
    padding-bottom: 0px;
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
}