.timeline {
    width: 100%;
    max-width: 800px;
    padding: 100px 0px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(33% + 15px);
        bottom: 0px;
        width: 4px;
        background: #ddd;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.entry-timeline {
    clear: both;
    text-align: left;
    position: relative;

    .title {
        margin-bottom: .5em;
        float: left;
        width: 33%;
        text-align: right;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border: 4px solid salmon;
            background-color: #fff;
            border-radius: 100%;
            top: 15%;
            right: -21px;
            z-index: 99;
        }

        h3 {
            margin: 0;
            font-size: 120%;
        }

        p {
            margin: 0;
            font-size: 100%;
        }
    }

    .body {
        margin: 0 0 3em;
        float: right;
        width: 66%;
        padding-left: 30px;

        p {
            line-height: 1.4em;

            &:first-child {
                margin-top: 0;
                font-weight: 400;
            }
        }

        ul {
            color: #aaa;
            padding-left: 0;
            list-style-type: none;

            li:before {
                content: "–";
                margin-right: .5em;
            }
        }
    }
}

.resume-item {
    flex: 0 0 50%;
}

.resume-img {
    border-radius: 2%;
}

@media screen and (min-width: 650px) {
    .resume-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 14px;
    }
}

@media screen and (max-width: 650px) {
    .resume-content {
        display: block;
    }
}