.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--header-bg);
    border-bottom: var(--header-line);
}

.nav {
    display: table;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
}

#menu li+li {
    list-style: square;
    list-style-position: outside;
    margin-inline-start: 24px;
}

#menu a {
    color: var(--selection);
    font-size: 24px;
}

#menu a:hover {
    text-decoration: underline;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

@media screen and (min-width: 650px) {
    .logo a {
        font-size: 36px;
        margin: auto;
    }

    .logo-switches {
        flex-wrap: inherit;
        position: absolute;
        right: 50px;
    }

    .nav {
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .logo a {
        font-size: 28px;
        font-weight: 600;
        margin: 0;
    }

    .logo-switches {
        position: absolute;
        right: 20px;
    }

    .nav {
        margin: 0;
    }
}

.lang-switch a {
    margin: auto 3px;
    font-size: 28px;
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .logo-switches {
        position: absolute;
        left: 35%;
        top: 110px;
    }

    .header {
        padding-bottom: 50px;
    }

    .nav {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

.lang-switch a {
    margin: auto 3px;
    font-size: 28px;
    font-weight: 500;
}