<div class="resume-item">
    <div class="timeline">
        <div class="entry-timeline">
            <div class="title">
                <h3>2023 - Present</h3>
                <p>ThunderBlossom Studios</p>
            </div>
            <div class="body">
                <p>Working as a Gameplay Programmer in ThunderBlossom
                </p>
                <ul>
                    <li>Released 2 working titles</li>
                    <li>Worked in an in-house, on-site team of 20+ members</li>
                    <li>Agile development</li>
                    <li>Using C# with Unity engine</li>
                </ul>
            </div>
        </div>
        <div class="entry-timeline">
            <div class="title">
                <h3>2021 - Present</h3>
                <p>Solent University, UK</p>
            </div>
            <div class="body">
                <p>Studying BSc (Hons) Software Development
                </p>
                <ul>
                    <li>Using C++, C#, Unreal Engine</li>
                    <li>Advanced OOP and UML</li>
                    <li>Formal education in computer science and software development process (SDLC)</li>
                </ul>
            </div>
            <div class="entry-timeline">
                <div class="title">
                    <h3>2020 - 2021</h3>
                    <p>Solent University, UK</p>
                </div>
                <div class="body">
                    <p>Studied Foundation Degree in Games & Programming Skills
                    </p>
                </div>
            </div>

            <div class="entry-timeline">
                <div class="title">
                    <h3>2019 - 2020</h3>
                    <p>SAS Graphics, Workplace Assistant</p>
                </div>
                <div class="body">
                    <p>Worked full-time
                    </p>
                    <ul>
                        <li>Worked in graphics design and printer hardware</li>
                    </ul>
                </div>
            </div>
            <div class="entry-timeline">
                <div class="title">
                    <h3>2018 - 2019</h3>
                    <p>East Sussex College, UK</p>
                </div>
                <div class="body">
                    <p>Studied Extended Diploma in App & Web Development
                    </p>
                </div>
            </div>
            <div class="entry-timeline">
                <div class="title">
                    <h3>2018 - 2018</h3>
                    <p>i2i Media, Intern</p>
                </div>
                <div class="body">
                    <p>Worked as an intern web developer
                    </p>
                    <ul>
                        <li>Full-stack web developer</li>
                        <li>Assisted in deliverables to clients</li>
                        <li>Delivered a web-app for the 2018 Berlin Film Festival</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>