{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-description">
        {{ .Content | markdownify }}
    </div>
    {{- end -}}
    {{- if (and site.Params.TocHome .IsHome) }}
    {{ partial "post-list.html" . }}
    {{- end -}}
    {{- with site.Params.homeInfoParams }}
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}